<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A664BE671D0BB74000E6F7A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A664BE801D0BB74100E6F7A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A664BE8B1D0BB74100E6F7A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
